{% extends 'base.html.twig' %}
{% block title %}Création d'un Quiz{% endblock %}

{% block body %}

    <div>
        <div class="mt-5">
            <h1>Création d'un Quiz</h1>
            <p>Bonjour, je vais vous accompagner dans la création du quiz, j'espère pouvoir vous guider de la meilleure façon possible.</p>
            <p>La création du quiz se fait en 3 étapes : Le thème / la difficulté / l'exercice (qui regroupera tous les QCM)
        </div>


        <div class="mt-5">
            <p>Pour débuter la création d'un quiz, veuillez créer un thème</p>
            <p>'Si vous avez déja un thème de créer et que vous souhaitez l'utiliser, passez cette étape !)</p>
            <a href="{{ path('app_category_new') }}"  class="btn btn-primary">Cliquez ici pour créer un nouveau thème</a>
            <a href="{{ path('app_category_index') }}"  class="btn btn-primary">Cliquez ici pour voir la liste des thèmes</a>
        </div>

        <div class="mt-5">
            <p>Ensuite pour poursuivre la création d'un quiz, veuillez créer une difficulté</p>
            <p>(Si vous avez déja une difficulté de créer et que vous souhaitez l'utiliser, passez cette étape !)</p>
            <a href="{{ path('app_difficulty_new') }}"  class="btn btn-primary">Cliquez ici pour créer une nouvelle difficulté</a>
            <a href="{{ path('app_difficulty_index') }}"  class="btn btn-primary">Cliquez ici pour voir la liste des difficultés</a>
        </div>

        <div class="mt-5">
            <p>Afin de poursuivre la création d'un quiz, veuillez créer un exercice</p>
            <p>(Si vous avez déja un exercice de créer et que vous souhaitez l'utiliser, passez cette étape !)</p>
            <a href="{{ path('app_exercise_new') }}"  class="btn btn-primary">cliquez ici pour créer un nouvel exercice</a>
            <a href="{{ path('app_exercise_index') }}"  class="btn btn-primary">Cliquez ici pour voir la liste des exercices</a>
        </div>

         <div class="mt-5">
            <p>Désormais, il ne vous reste plus qu'à créer vos questions/ réponses qui composeront cet exercice</p>
            <a href="{{ path('question_maker') }}"  class="btn btn-primary">cliquez ici pour créer de nouvelles questions/réponses</a>
            <a href="#"  class="btn btn-primary">Cliquez ici pour voir la liste de questions/réponses</a>
        </div>

        <div class="mt-5">
            <p>Félicitation ! Vous avez terminé la création du quiz !</p>
        </div>
    </div>
{% endblock %}