{% extends 'base.html.twig' %}

{% block title %}Thème{% endblock %}

{% block body %}
    <h1>Thème</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du Thème</th>

            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Afficher</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}" class="btn btn-primary">Ajouter un Thème</a>
    <a href="{{ path('app_exercise_index') }}" class="btn btn-primary">Retour à la création de quiz</a>
{% endblock %}