{% extends 'base.html.twig' %}

{% block title %}Ajouter un Thème{% endblock %}

{% block body %}

<main class="mt-4">
		<!--Container Main start-->
		<div class="pb-5">
			<div class="mx-4 my-4">

				<div class="bg w-100 p-5">
					<div> <h1 class="text-white">Ajouter un Thème</h1>

					</div>
				</div>
			</div>


            <div class="mx-4 selector">
					<nav class="navbar navbar-expand-lg navbar-white ">		
						  <div class="collapse navbar-collapse afficher " id="navbarNav">
							<ul class="navbar-nav ">
								<div class="svg-wrapper ">
									<svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
									  <rect id="shape" height="40" width="150" />
									  <div id="text">
										<a href="{{ path('app_main_quiz') }}"><span class="spot"></span>Ajout d'un quizz</a>
									  </div>
									</svg>
								  </div>
								  <div class="svg-wrapper2 ">
									<svg height="40" width="250" xmlns="http://www.w3.org/2000/svg">
									  <rect id="shape" height="40" width="250" />
									  <div id="text">
										<a href="{{ path('app_category_index') }}"><span class="spot"></span>Afficher tous les thèmes</a>
									  </div>
									</svg>
								  </div>
								  <div class="svg-wrapper2 ">
									<svg height="40" width="250" xmlns="http://www.w3.org/2000/svg">
									  <rect id="shape" height="40" width="250" />
									  <div id="text">
										<a href="{{ path('app_exercise_index') }}"><span class="spot"></span>Afficher tous les Exercices</a>
									  </div>
									</svg>
			</div>
  </main>
  

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}" class="btn btn-primary">Retour à la liste de thème</a>
    <a href="{{ path('app_exercise_index') }}" class="btn btn-primary">Retour à la création de quiz</a>
{% endblock %}