{% extends 'base.html.twig' %}

{% block title %}Nom de l'exercice{% endblock %}

{% block body %}
	<h1>Nom de l'exercice</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Categorie</th>
				<th>Difficulté</th>
				<th>Nbr de question</th>


			</tr>
		</thead>
			<tbody>
				{% for exercise in exercises %}
					<tr>
						<td>{{ exercise.id }}</td>
						<td>{{ exercise.title }}</td>
						<td>{{ exercise.category.name }}</td>
						<td>{{ exercise.difficulty.name }}</td>
						<td>{{ exercise.question | length }} </td>

		
						<td>
							<a href="{{ path('app_exercise_edit', {'id': exercise.id}) }}">Modifier</a>
							<a href="{{ path('question_maker', {'id': exercise.id}) }}">Ajouter une question</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Pas de résultats</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	<a href="{{ path('app_exercise_new') }}" class="btn btn-primary">Ajouter un exercice</a>	
	<a href="{{ path('app_main_quiz') }}" class="btn btn-primary">Retour à la création de quiz</a>
	{% endblock %}
		

			

