{% extends 'base.html.twig' %}

{% block title %}Exercise
{% endblock %}

{% block body %}
	<h1>Exercise</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ exercise.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ exercise.title }}</td>
			</tr>

			<tr>
				<th>Catgerory</th>
				<td>{{ exercise.category.name }}</td>
			</tr>

			<tr>
				<th>Difficulté</th>
				<td>{{ exercise.difficulty.name }}</td>
			</tr>

		</tbody>
	</table>

	<a href="{{ path('app_quiz_index') }}" class="btn btn-primary">Retour à la liste d'exercice</a>
    <a href="{{ path('app_exercise_index') }}" class="btn btn-primary">Retour à la création de quiz</a>

	<a href="{{ path('app_exercise_edit', {'id': exercise.id}) }}">Modifier</a>

	{{ include('exercise/_delete_form.html.twig') }}
{% endblock %}
