{% extends 'base.html.twig' %}

{% block title %}Menu Administrateur{% endblock %}

{% block body %}
    <h1>Menu Administrateur</h1>
    <h2>Liste des utilisateurs</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_show', {'id': user.id}) }}">Voir</a>
                {% if  user.roles[0] != 'ROLE_ADMIN'  %} {# Possibilité de Modifier tous les utilisateurs SAUF l' Admin #}
                    <a href="{{ path('app_admin_edit', {'id': user.id}) }}">Modifier</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun élément trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
