{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
    <h1>Resultat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Apprenant</th>
                <td>{{ result.user.name }} {{ result.user.firstname }}</td>
            </tr>
            <tr>
                <th>Exercice</th>
                <td>{{ result.exercise.title }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ result.grades }} / 20 </td>
            </tr>
            <tr>
                <th>Fait_le</th>
                <td>{{ result.updateAt ? result.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_result_index') }}" class="btn btn-primary">Retour à la liste de résultat</a>

    <a href="{{ path('app_result_edit', {'id': result.id}) }}" class="btn btn-primary">Modifier</a>

    {{ include('result/_delete_form.html.twig') }}
{% endblock %}
