{% extends 'base.html.twig' %}

{% block title %}Nouvelle difficulté{% endblock %}

{% block body %}
    <h1>Créer une nouvelle difficulté</h1>
    <main class="mt-4">
		<!--Container Main start-->
		<div class="pb-5">
			<div class="mx-4 my-4">

				<div class="bg w-100 p-5 text-white ">
					<div class="">
						  <h1 class="text-white">MODIFIER NOM</h1>
					</div>
				<div class="info">
							<div class="mx-5">
								<h3 class="text-white">14</h3>
								<p>Thèmes</p>
							</div>
							<div class="mx-5">
								<h3 class="text-white">23</h3>
								<p>Exercices</p>
							</div>
							<div class="mx-5">
								<h3 class="text-white">465</h3>
								<p>Questions</p>
						</div>
					</div>
					<div>

					</div>
				</div>
			</div>


            <div class="mx-4 selector">
					<nav class="navbar navbar-expand-lg navbar-white ">		
						  <div class="collapse navbar-collapse afficher " id="navbarNav">
							<ul class="navbar-nav ">
								 <div class="svg-wrapper2 ">
									<svg height="60" width="160" xmlns="http://www.w3.org/2000/svg">
									  <rect id="shape2" height="60" width="160" />
									  <div id="text">
										<a href="{{ path('app_category_index') }}"><span class="spot"></span>Afficher tous les thèmes</a>
									  </div>
									</svg>
								  </div>
								  <div class="svg-wrapper2 ">
									<svg height="60" width="160" xmlns="http://www.w3.org/2000/svg">
									  <rect id="shape2" height="60" width="160" />
									  <div id="text">
										<a href="{{ path('app_exercise_index') }}"><span class="spot"></span>Afficher tous les Exercices</a>
									  </div>
									</svg>
								  </div>
  </main>

    {{ include('difficulty/_form.html.twig') }}

    <a href="{{ path('app_difficulty_index') }}" class="btn btn-primary">Retour à la liste de difficulté</a>
    <a href="{{ path('app_exercise_index') }}" class="btn btn-primary">Retour à la création de quiz</a>
{% endblock %}
